<div class="container">
    <div id="navlist">
        <img src="assets/img/mm_logo.png"><p>MasonMeals</p>
    </div>
</div>

<div class="container">
    <!-- search bar right align -->
    <form action="#">
        <div class="formfield">
            <div class="search">
                <input type="text" placeholder="Search" name="search">
                <button><i class="fa fa-search"style="font-size: 18px;"></i></button>

                <select id="type">
                    <option value="breakfast">Breakfast</option>
                    <option value="lunch">Lunch</option>
                    <option value="dinner">Dinner</option>
                </select>

                <input type="text" id="filters" placeholder="Filters">
            </div>
        </div>
    </form>
</div>




    

