img {
  max-width: 5%;
}

.search {
  float: right;
}

.search input[type=text] {
  width: 300px;
  background-color: #efebe2ff;
  padding: 10px;
  color: #b7b7b7;
  border-radius: 5px;
  border: none;
}

.field {
  background-color: #efebe2ff;
}

.container {
  display: inline-flex;
  width: 50%;
  overflow: hidden;
}