/* line 1, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
.footer {
    background-repeat: no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background: #000000;
  }
  
  /* line 7, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
  .footer .pro_border {
    padding-top: 103px;
    padding-bottom: 50px;
    border-bottom: 1px solid #334A60;
  }
  
  /* line 12, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
  .footer .pro_border .lets_projects h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
  }
  
  @media (max-width: 767px) {
    /* line 12, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
    .footer .pro_border .lets_projects h3 {
      color: #fff;
      font-size: 19px;
    }
  }
  
  /* line 20, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
  .footer .pro_border .lets_projects h3 a {
    color: #FF008C;
  }
  
  /* line 25, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
  .footer .pro_border .phone_number {
    text-align: right;
  }
  
  @media (max-width: 767px) {
    /* line 25, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
    .footer .pro_border .phone_number {
      text-align: center;
    }
  }
  
  /* line 30, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
  .footer .pro_border .phone_number h3 {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
  }
  
  /* line 35, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
  .footer .pro_border .phone_number a {
    color: #C7C7C7;
    font-size: 15px;
    font-weight: 300;
  }
  
  /* line 39, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
  .footer .pro_border .phone_number a:hover {
    color: #FF008C;
  }
  
  /* line 45, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
  .footer .footer_top {
    padding-top: 150px;
    padding-bottom: 40px;
  }
  
  @media (max-width: 767px) {
    /* line 45, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
    .footer .footer_top {
      padding-top: 60px;
      padding-bottom: 30px;
    }
  }
  
  @media (max-width: 767px) {
    /* line 52, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
    .footer .footer_top .footer_widget {
      margin-bottom: 30px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    /* line 52, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
    .footer .footer_top .footer_widget {
      margin-bottom: 30px;
    }
  }
  
  /* line 59, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget .footer_title {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 40px;
  }
  
  @media (max-width: 767px) {
    /* line 59, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
    .footer .footer_top .footer_widget .footer_title {
      margin-bottom: 20px;
    }
  }
  
  /* line 69, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget .footer_logo {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 40px;
  }
  
  @media (max-width: 767px) {
    /* line 69, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
    .footer .footer_top .footer_widget .footer_logo {
      margin-bottom: 20px;
    }
  }
  
  /* line 79, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget p {
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
  }
  
  /* line 85, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget p a {
    color: #777777;
  }
  
  /* line 87, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget p a:hover {
    color: #FF008C;
  }
  
  /* line 93, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget p.footer_text {
    font-size: 16px;
    color: #B2B2B2;
    margin-bottom: 23px;
    font-weight: 400;
    line-height: 28px;
  }
  
  /* line 99, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget p.footer_text a.domain {
    color: #B2B2B2;
    font-weight: 400;
  }
  
  /* line 102, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget p.footer_text a.domain:hover {
    color: #FD955D;
    border-bottom: 1px solid #FD955D;
  }
  
  /* line 108, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget p.footer_text.doanar a {
    font-weight: 500;
    color: #B2B2B2;
  }
  
  /* line 112, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget p.footer_text.doanar a:hover {
    color: #FD955D;
    border-bottom: 1px solid #FD955D;
  }
  
  /* line 116, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget p.footer_text.doanar a.first {
    margin-bottom: 10px;
  }
  
  /* line 124, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget ul li {
    color: #919191;
    font-size: 13px;
    line-height: 42px;
  }
  
  /* line 128, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget ul li a {
    color: #919191;
    font-weight: 400;
  }
  
  /* line 131, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget ul li a:hover {
    color: #FFC000;
  }
  
  /* line 137, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget .newsletter_form {
    position: relative;
    margin-bottom: 20px;
  }
  
  /* line 140, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget .newsletter_form input {
    width: 100%;
    height: 50px;
    background: #333333;
    padding-left: 20px;
    font-size: 14px;
    color: #fff;
    border: none;
    border-radius: 0px;
  }
  
  /* line 149, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget .newsletter_form input::placeholder {
    font-size: 14px;
    color: #777;
  }
  
  /* line 153, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget .newsletter_form input:focus {
    outline: none;
  }
  
  /* line 157, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget .newsletter_form button {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    border: none;
    font-size: 14px;
    color: #000000;
    background: #FFC000;
    padding: 10px;
    padding: 0 22px;
    cursor: pointer;
    border-radius: 0;
    top: 0px;
    right: 0px;
    font-size: 14px;
    font-weight: 500;
    font-weight: 900;
  }
  
  /* line 177, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget .newsletter_text {
    font-size: 14px;
    color: #919191;
    line-height: 26px;
    margin-bottom: 40px;
    margin-top: 50px;
  }
  
  /* line 186, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
  .footer .copy-right_text {
    padding-bottom: 150px;
    background: #000;
  }
  
  /* line 189, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
  .footer .copy-right_text .footer_border {
    padding-bottom: 30px;
  }
  
  /* line 193, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
  .footer .copy-right_text .copy_right {
    font-size: 15px;
    color: #919191;
    margin-bottom: 0;
    font-weight: 400;
    text-align: left;
  }
  
  @media (max-width: 767px) {
    /* line 193, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
    .footer .copy-right_text .copy_right {
      font-size: 13px;
    }
  }
  
  /* line 202, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
  .footer .copy-right_text .copy_right a {
    color: #FFC000;
  }
  
  /* line 207, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
  .footer .socail_links {
    text-align: right;
  }
  
  @media (max-width: 767px) {
    /* line 207, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
    .footer .socail_links {
      margin-top: 30px;
      text-align: left;
    }
  }
  
  /* line 214, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
  .footer .socail_links ul li {
    display: inline-block;
  }
  
  /* line 217, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
  .footer .socail_links ul li a {
    font-size: 15px;
    color: #C3B2F0;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    background: #262626;
    line-height: 40px !important;
    margin-right: 7px;
    color: #767676;
    line-height: 40px !important;
    margin-right: 1px;
  }
  
  /* line 230, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_footer.scss */
  .footer .socail_links ul li a:hover {
    color: #000000 !important;
    background: #FFC000;
  }