<div class="recepie_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single_recepie text-center">
                    <div class="recepie_thumb">
                        <img src="assets/img/recepie/recipe1.png" alt="">
                    </div>
                    <h3>Title of Food</h3>
                    <p>Calories: 200</p>
                    <p>Budget: $10.00</p>
                    <a href="#" class="line_btn">View Full Recipe</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single_recepie text-center">
                    <div class="recepie_thumb">
                        <img src="assets/img/recepie/recipe2.png" alt="">
                    </div>
                    <h3>Title of Food</h3>
                    <p>Calories: 200</p>
                    <p>Budget: $10.00</p>
                    <a href="#" class="line_btn">View Full Recipe</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single_recepie text-center">
                    <div class="recepie_thumb">
                        <img src="assets/img/recepie/recipe3.png" alt="">
                    </div>
                    <h3>Title of Food</h3>
                    <p>Calories: 200</p>
                    <p>Budget: $10.00</p>
                    <a href="#" class="line_btn">View Full Recipe</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single_recepie text-center">
                    <div class="recepie_thumb">
                        <img src="assets/img/recepie/recipe4.png" alt="">
                    </div>
                    <h3>Title of Food</h3>
                    <p>Calories: 200</p>
                    <p>Budget: $10.00</p>
                    <a href="#" class="line_btn">View Full Recipe</a>
                </div>
            </div>
        </div>
    </div>
</div>
