/* line 1, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_recipe_details.scss */
.recepie_details_area {
    padding-top: 200px;
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {
    /* line 1, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_recipe_details.scss */
    .recepie_details_area {
      padding-top: 100px;
    }
  }
  
  @media (max-width: 767px) {
    /* line 1, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_recipe_details.scss */
    .recepie_details_area {
      padding-top: 50px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    /* line 1, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_recipe_details.scss */
    .recepie_details_area {
      padding-top: 100px;
    }
  }
  
  /* line 12, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_recipe_details.scss */
  .recepie_details_area .recepies_thumb {
    margin-bottom: 60px;
  }
  
  /* line 14, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_recipe_details.scss */
  .recepie_details_area .recepies_thumb img {
    width: 100%;
  }
  
  /* line 18, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_recipe_details.scss */
  .recepie_details_area .recepies_info {
    padding-left: 68px;
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    /* line 18, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_recipe_details.scss */
    .recepie_details_area .recepies_info {
      padding-left: 30px;
      margin-bottom: 30px;
    }
  }
  
  @media (max-width: 767px) {
    /* line 18, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_recipe_details.scss */
    .recepie_details_area .recepies_info {
      padding-left: 0px;
    }
  }
  
  /* line 27, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_recipe_details.scss */
  .recepie_details_area .recepies_info h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #222222;
    margin-bottom: 23px;
  }
  
  /* line 32, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_recipe_details.scss */
  .recepie_details_area .recepies_info p {
    color: #777777;
    font-size: 14px;
  }
  
  /* line 36, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_recipe_details.scss */
  .recepie_details_area .recepies_info .resepies_details {
    margin-top: 38px;
    margin-bottom: 30px;
  }
  
  /* line 41, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_recipe_details.scss */
  .recepie_details_area .recepies_info .resepies_details ul li p {
    color: #777777;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
  
  /* line 47, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_recipe_details.scss */
  .recepie_details_area .recepies_info .resepies_details ul li p strong {
    width: 100px;
    color: #000000;
    font-size: 14px;
    font-weight: 300;
    display: inline-block;
  }
  
  /* line 54, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_recipe_details.scss */
  .recepie_details_area .recepies_info .resepies_details ul li p i {
    color: #ffcc00;
  }
  
  /* line 62, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_recipe_details.scss */
  .recepie_details_area .recepies_info .links a {
    color: #cccccc;
    font-size: 14px;
    margin-right: 10px;
  }
  
  /* line 66, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_recipe_details.scss */
  .recepie_details_area .recepies_info .links a:hover {
    color: #000;
  }
  
  /* line 73, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_recipe_details.scss */
  .recepie_details_area .recepies_text p {
    font-size: 14px;
    color: #777777;
    line-height: 30px;
    margin-bottom: 30px;
  }
  
  /* line 78, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_recipe_details.scss */
  .recepie_details_area .recepies_text p:last-child {
    margin-bottom: 0;
  }
  