
<body>
  <app-header></app-header>
<div class="container-fluid">
    <div class="px-lg-5 body">
  
      <div class="row">
        <ng-container  *ngFor="let food of foods; let i = index">
        <a href="https://{{food.link}}" class="col mt-4">
          <img class = "image" src="{{food.image}}" alt="" class="img-fluid card-img-top">
          <div class="p-4 card">
            <h5 class = "title"> <a href="#" class="text-dark">{{food.name}}</a></h5>
            <span class = "text">Calories: {{food.calories}}</span>
            <span class = "text">Budget: ${{food.budget}}</span>
            <span class = "text ml-auto">Time: {{food.time}} min</span>

            
          </div>
        </a>
        <div *ngIf = "((i+1) % 3 == 0)" class="w-100"></div>
      </ng-container>
     
      </div>
      <div class="py-5 text-right"><a href="#" class="btn btn-dark px-5 py-3 text-uppercase">Clear</a></div>
    </div>
  </div>
</body>