<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Changa&display=swap" rel="stylesheet">
    </head>
    <mat-sidenav-container>
        <mat-sidenav mode="side" opened>
            <!--<div class="profile-container"-->
                <!--User related tings-->
                <h4 class="name">MY NAME</h4>
            
                <img class="avatar mat-elevation-z8" src="https://www.pinclipart.com/picdir/big/148-1486972_mystery-man-avatar-circle-clipart.png" />

                <!--Profile Buttons-->
                <button class="profile-button">
                    <span>Edit Profile</span>
                </button>

                <button class="profile-button">
                    <span>Preferences</span>
                </button>
                
                <!--Logout Button-->
                <button mat-button class="menu-button">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Logout</span>
                </button>
                <!--</div class="profile-container"-->
            
            <!--Divider line here-->
            <mat-divider></mat-divider>

            <!--<div class="button-container"-->
                <h4 class="name">SORT MEALS</h4>
                <!--Home Button-->
                <button mat-button class="menu-button">
                    <mat-icon>home</mat-icon>
                    <span>Home</span>
                </button>
                <!--Profile Button-->
                <button mat-button class="menu-button">
                    <mat-icon>favorite</mat-icon>
                    <span>Favorite</span>
                </button>
                <!--About Button-->
                <button mat-button class="menu-button">
                    <mat-icon>monetization_on</mat-icon>
                    <span>Budget</span>
                </button>
                <!--Example custom list Button-->
                <button mat-button class="menu-button">
                    <mat-icon>restaurant</mat-icon>
                    <span>Keto</span>
                </button>

                <!--New List Button-->
                <button mat-button class="menu-button">
                    <mat-icon>add_circle</mat-icon>
                    <span>New List</span>
                </button>

                <div class="current-budget">
                    <p>Current Budget: $20.00</p>
                </div>

            <!--<div class="button-container"-->
        </mat-sidenav>
    </mat-sidenav-container>
</html>